* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(68, 56, 88);
}

header {
  background-color: rgb(35, 29, 45);
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-top: 15px;
  padding-bottom: 15px;

  .reactLogo {
    will-change: filter, transform;
    transition: filter 300ms;
    animation: rotate 5s linear infinite;

    &:hover {
      filter: drop-shadow(0 0 1em #61dafbaa);
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hide {
  display: none;
}

.container {
  width: 60%;
  margin: auto;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 150px;
}

.language-button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
}

.language-button.active {
  background-color: #420141; /* verde, ma puoi scegliere il colore che preferisci */
  color: white;
}

.HTML {
  background-color: #1c1329;
  color: rgb(255, 255, 255);
}

.CSS {
  background-color: #1c1329;
  color: white;
}

.JavaScript {
  background-color: #1c1329;
  color: rgb(255, 255, 255);
}

.NodeJs {
  background-color: #1c1329;
  color: rgb(255, 255, 255);
}

.Express {
  background-color: #1c1329;
  color: white;
}

.ReactJs {
  background-color: #1c1329;
  color: rgb(255, 255, 255);
}

.description-card {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 8px;
  padding: 20px;
  margin-top: 100px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  h2 {
    margin-bottom: 20px;
  }
}

footer {
  font-size: 18px;
  color: white;
  margin-top: 200px;
  text-align: center;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */
