* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(88, 88, 88);
}

header {
  background-color: rgb(48, 48, 48);
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}
